.filter_form {
    display: flex;
    align-items: baseline;
    gap: 15px;
}

.filter_form input {
    padding: 9px 10px;
    border-radius: 7px;
    font: 500 16px/130% "Montserrat", sans-serif;
    color: #797979;
}

.filter_form button {
    font: 600 20px/130% "Montserrat", sans-serif;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}
