.img {
    height: auto;
    width: 360px;
    object-fit: cover;
    border-radius: 5px;
    margin: 0 auto;
}

.title_container {
    margin: 5px 12px;
}


.title {
    color: #3a3a3a;
    font: 500 16px/130% "Montserrat", sans-serif;
}

.add_btn {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font: 600 18px/130% "Montserrat", sans-serif;
    text-align: center;
    background: #f1fff1;
    border-radius: 10px;
    border: 2px solid #339933;
    color: green;
    cursor: pointer;
    padding: 10px 15px;
    width: 55%;
    margin: auto 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cart_item {
    position: relative;
}

.cart_item:hover .add_btn {
    opacity: 80%;

}

.cart_item a div {
    margin: 0 auto;
}

@media only screen and (max-width: 1580px) {
    .img {
        width: 318px;
    }
}

@media only screen and (max-width: 1420px){
    .img {
        width: 380px;
    }   
}

@media only screen and (max-width: 1220px){
    .img {
        width: 360px;
    }   
}

@media only screen and (max-width: 1200px){
    .img {
        width: 318px;
    }   
}

@media only screen and (max-width: 1080px){
    .img {
        width: 280px;
    }   
}

@media only screen and (max-width: 920px){
    .img {
        width: 230px;
    }   
}

@media only screen and (max-width: 560px){
    .img {
        margin: 0 auto;
    }
}