.img {
    height: auto;
    width: 318px;
    object-fit: cover;
    border-radius: 8px;
}

.title_container {
    margin: 5px 12px;
}


.title {
    color: #3a3a3a;
    font: 500 16px/130% "Montserrat", sans-serif;
}

.add_btn {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font: 600 18px/130% "Montserrat", sans-serif;
    background: #f1fff1;
    border-radius: 10px;
    border: 2px solid #339933;
    color: green;
    cursor: pointer;
    padding: 10px 15px;
    width: 55%;
    margin: auto 0;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cart_item {
    position: relative;
}

.cart_item:hover .add_btn {
    opacity: 80%;

}