.input{
  padding: 14px 16px;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid white;
  outline: none;
}

.input:focus {
  border: 1px solid green;
}

.for_card{
  border: 1px solid black;
  padding: 15px;
  border-radius: 16px;
}