.item {
    margin: 0 20px;
}

.cart_empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.cart_empty svg {
    width: 50px;
    height: 50px;
}

.cart_empty p {
    font: 600 28px/130% "Montserrat", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "shopping_card details";
    gap: 50px;
}

.container_cart {
    display: grid;
    gap: 20px;
}

.details{
    border: 1px solid black;
    border-radius: 16px;
    width: 100%;
    height: 300px;
    padding: 15px 15px;
    display: grid;
    grid-template-rows: 50px 1fr 2fr;
    font: 600 28px/130% "Montserrat", sans-serif;
}

.total_price {
    display: flex;
    justify-content: space-between;
}

.total_price p:first-child {
    font: 500 24px/130% "Montserrat", sans-serif;
}

.total_price p:last-child span:first-child {
    font: 600 32px/130% "Montserrat", sans-serif;
}

.total_price p:last-child span:nth-child(2) {
    font: 600 28px/130% "Montserrat", sans-serif;
}
.total_price p:last-child span:nth-child(3) {
    font: 600 20px/130% "Montserrat", sans-serif;
}

.clear_btn {
    background-color: darkmagenta;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: fit-content;
}



@media only screen and (max-width: 1200px) {
    .shopping_card { grid-area: shopping_card;}
    .details       { grid-area: details;      }

    .container {
        grid-template-columns: 1fr;
        grid-template-areas: "shopping_card"
                             "details";
        gap: 35px;
    }

    .details {
        width: 60%;
    }
}

@media only screen and (max-width: 560px) {
    .details {
        width: 100%;
    }
}