.logo {
    width: 72px; height: 72px;
    padding: 10px;
}

.cart {
    width: 30px; height: 30px;
}

.logo       {grid-area: logo; justify-self: stretch}
a button    {grid-area: button;}
.nav_page   {grid-area: pages; justify-self: end}
.cart       {grid-area: cart; justify-self: center}

.nav_head{
    display: grid;
    grid-template-areas: "logo button pages cart";
    grid-template-columns: 1fr 1fr 3fr 1fr; 
    align-items: center;
}

.nav_page {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    
}
.nav_page a {
    text-decoration: none;
    color: black;
    font: 500 16px/130% "Montserrat", sans-serif;
}

a button{
    background-color: white; color: green; 
    padding: 10px;
    border: 2px solid green; border-radius: 5px;
    cursor: pointer;
    font: 700 16px "Montserrat", sans-serif;
}

a button:hover {
    border-radius: 10px;
    background-color: green;
    color: white;
}



