.banner {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #A1E2EB;
    height: 600px;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.offer {
    padding: 50px;
}

.img {
    height: 600px;
    width: auto;
    position: absolute;
    bottom: -110px;
    right: -173px;
    transition: height 0.8s ease;
}

.banner>div>h1 {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    text-align: left;
    font: 700 80px/130% "Montserrat", sans-serif;
    transition: height 0.3s ease;

}

.banner > div > h1 > span:last-child {
    font: 700 63px/130% "Montserrat", sans-serif;
}

.button {
    background: #ffffff;
    border: none;
    border-radius: 13px;
    padding: 25px 50px;
    gap: 10px;
    font: 700 25px/130% "Montserrat", sans-serif;
}

@media(max-width: 1080px){
    .img {
        height: 550px;
        position: absolute;
        bottom: -133px;
        right: -203px;

    }

    
}

@media(max-width: 800px){
    .img {
        display: none;
    }
    
}