.container {
    text-align: center;
    margin: auto 20px;
}

.products_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    justify-content: left;
    align-items: center;
}

@media(max-width: 1080px){
    .products_container {
        grid-template-columns: repeat(3, 1fr);
    }    
}

@media(max-width: 800px){
    .products_container {
        grid-template-columns: repeat(2, 1fr);
    }
}