.title {
    color: #3a3a3a;
    font: 600 36px/130% "Montserrat", sans-serif;
    margin: 30px 20px;
}


.img            { grid-area: img;        justify-self: center; }
.card_descr     { grid-area: card_descr; justify-self: start;}

.img{
    width: 450px;
    height: auto;
}

.container_card {
    display: grid;
    grid-template-areas: 'img card_descr';
    grid-template-columns: 2fr 2fr 1fr;
    align-items: center;
    gap: 20px;
    margin: auto 20px;
}



.card_descr {
    display: grid;
    gap: 20px;
    margin: 0px 20px ;

}

.title_descr {
    font: 500 16px/130% "Montserrat", sans-serif;
    border-top: dashed #c0c0c0;
    padding: 25px 0;
    display: grid;
    gap: 20px;
}

.title_descr p:nth-child(1) {
    font: 600 20px/130% "Montserrat", sans-serif;
}





.button{
    background-color: white; color: green; 
    padding: 25px;
    width: 60%;
    border: 2px solid green; border-radius: 5px;
    cursor: pointer;
    font: 700 28px/130% "Montserrat", sans-serif;
}

.button:hover {
    border-radius: 10px;
    background-color: green; color: white; 
}

.price {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 0 20px;
    width: 80%;

}

.h2 {
    font: 600 70px/130% "Montserrat", sans-serif;
}
.h2 span{
  font: 600 20px/130% "Montserrat", sans-serif;

}

.discont {
    color: #8b8b8b;
    font: 500 16px/130% "Montserrat", sans-serif;
    text-decoration: line-through;
}

.prozent {
    color: #ff32a1;
    font: 500 16px/130% "Montserrat", sans-serif;

}


@media(max-width: 1080px){
    .container_card {
        grid-template-columns: 1fr 1fr;
    }

    .h2 {
        font: 600 42px/130% "Montserrat", sans-serif;
    }
    .h2 span{
      font: 600 20px/130% "Montserrat", sans-serif;
    
    }
    
}

@media(max-width: 800px){
    .container_card {
        grid-template-columns: auto;
        grid-template-areas:'img' 
                            'card_descr';
    }
    .img {
        width: 350px;
        height: auto;
    }

    .price {
        margin: 0 auto;
        display: flex;
        align-items: baseline;
        justify-content: space-evenly;
        width: 50%;
    }

    .button {
        margin: 0 auto;
    }
}