.form{
    background: linear-gradient(
        262.69deg,
        rgba(0, 99, 0, 1) 100%,
        rgba(51, 153, 51, 1) 0%
      );
      width: auto;
      height: auto;
      padding: 30px;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  transition: height 0.3s ease;
}

.form img {
  margin: 0 auto;
  width: 60%;
  height: auto;
}

.form_offer h1 {
  color: white;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: center
}


@media(max-width: 860px) {

    .form {
      height: 400px;
      grid-template-columns: 1fr 2fr;
      transition: height 0.3s ease;
      padding: 10px 20px ;
    }

}

@media(max-width: 720px) {
  .form img {
      display: none;
  }

  .form {
    height: auto;
    grid-template-columns: 1fr;
    transition: height 0.3s ease;
  }

  .form_offer h1 {
    display: grid;
    align-items: end;
    height: 200px;
  }

}
