.logo img {
    width: 72px; height: 72px;
    padding: 10px;
}

.logo       { grid-area: logo;      }
.button     { grid-area: button;    }
.navmenu    { grid-area: navmenu;   }
.cart       { grid-area: cart;      }

.logo {
    justify-self: start;
}

.cart a svg {
    width: 25px;
    height: auto;
}

.nav_head {
    display: grid;
    grid-template-columns: 100px 200px 1fr 100px;
    grid-template-areas: "logo button navmenu cart";
    align-items: center;
    justify-items: center;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .nav_head {
        grid-template-areas: "logo button cart navmenu";
        grid-template-columns: 100px 1fr 100px 100px;
    }

    .button {
        justify-self: start;
    }

    .cart {
        justify-self: center;
        align-items: center;
    }
}

@media only screen and (max-width: 480px) {
    .nav_head {
        grid-template-areas: "logo button cart navmenu";
        grid-template-columns: 100px 100px 50px 50px ;
        justify-content: space-between;
        gap: 5px;
    }
}


