.logo img {
    width: 72px; height: 72px;
    padding: 10px;
}

.logo       { grid-area: logo;      }
.button     { grid-area: button;    }
.navmenu    { grid-area: navmenu;   }
.cart       { grid-area: cart;      }

.logo {
    /* justify-self: start; */
}

.nav_head {
    display: grid;
    grid-template-columns: 100px 200px 1fr 100px;
    grid-template-areas: "logo button navmenu cart";
    align-items: center;
    justify-items: center;
}

@media (max-width: 576px) {

    .nav_head {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "logo button cart navmenu";
        align-items: center;
    }
    .cart {
        justify-self: end;
    }
}



















/*
.logo {
    width: 72px; height: 72px;
    padding: 10px;
}

.logo       { grid-area: logo;      }
.button     { grid-area: button;    }
.naw_menu   { grid-area: naw_menu;  }
.cart       { grid-area: cart;      }

.nav_head {
    display: grid;
    grid-template-columns: 100px 1fr 3fr 100px;
    grid-template-areas: "logo button naw_menu cart";
    align-items: center;
    justify-items: center;
}

.naw_menu{
    display: flex;
    gap: 50px;
}
.icon {
    display: none;
}

@media (max-width: 576px) {

    .nav_head {
        grid-template-columns: 100px 1fr 100px 1fr;
        grid-template-areas: "logo button cart naw_menu";
    }
    .item {
        visibility: hidden;
    }
    .item .active {
        visibility: visible;
    }
    .icon {
        display: block;
    }

}
*/