.container {
    border-top: 1px dotted black ;
    padding: 20px 0;
}
.container:last-child{
    border-bottom: 1px solid black ;
}

.products{
    display: grid;
    grid-template-columns: 200px 2fr 2fr 20px;
    align-content: space-between;
    gap: 20px;
}

.products img {
    width: 200px;
    height: 200px;
    object-fit: cover;
} 

.products_descr {
    display: grid;
    grid-template-rows: 1fr 3fr ;
    align-content: space-evenly;
    align-items: end;
}

.price {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-content: center;
    align-items: baseline;
}

.price h2 span:first-child {
    font: 600 40px/130% "Montserrat", sans-serif;
}

.price h2 span {
    font: 600 28px/130% "Montserrat", sans-serif;
}

.price h2 span:nth-child(3) {
    font: 600 20px/130% "Montserrat", sans-serif;
}

/* ```````` count */
.count{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px 10px;
    font: 600 18px/130% "Montserrat", sans-serif;
}
.count div {
    cursor: pointer;
}
/* ```````` count --- end */

.discont {
    color: #8b8b8b;
    font: 500 16px/130% "Montserrat", sans-serif;
    text-decoration: line-through;
}

@media only screen and (max-width: 1080px){
    .products{
        grid-template-columns: 200px 1fr 1fr 20px;
        gap: 20px;
    }
    .price {
        grid-template-columns: 2fr 1fr;
        align-items: baseline;
    }
    .products_descr {
        align-items: center;
        justify-items: center;
        grid-template-rows: 1fr 1fr ;

    }
}

@media only screen and (max-width: 800px){
    .products{
        grid-template-columns: 200px 1fr 100px 20px;
        justify-items: end;
    }
    .price {
        grid-template-columns: 2fr 1fr;
        align-items: baseline;
        justify-items: end;
    }

    .price h2 span:first-child {
        font: 600 24px/130% "Montserrat", sans-serif;
    }
    
    .price h2 span {
        font: 600 16px/130% "Montserrat", sans-serif;
    }
    
    .price h2 span:nth-child(3) {
        font: 600 14px/130% "Montserrat", sans-serif;
    }

}

@media only screen and (max-width: 560px){
    .products img { grid-area: img; }
    .products_descr { grid-area: products_descr; }
    .price { grid-area: price; }
   
    .products {
        display: grid;
        grid-template-columns: 1fr 1fr 20px;
        justify-items: start;
        grid-template-areas: "img            price"
                             "products_descr price";
    }
    
    .products_descr {
        display: grid;
        grid-template-columns: 1fr;
    }

    .price {
        grid-template-rows: 1fr 1fr ;
        justify-items: end;
        align-self: center;
    }

    .price h2 {
        grid-row: 1 ;
    }

    .price p {
        grid-row: 2 ;
    }
    
}

@media only screen and (max-width: 420px){
    .products span { grid-area: cross; }

    .products {
        grid-template-columns: 1fr 20px;
        justify-items: center;
        grid-template-areas: 
                             "img            cross"
                             "price          cross"
                             "products_descr cross";
    }
}